.nav-side-menu {
  overflow: auto;
  font-size: 1em;
  font-weight: 200;
  background-color: $black;
  position: fixed;
  top: 0px;
  width: 400px;
  height: 100%;
  color: $white;
  .brand {
    background-color: $scarlett;
    line-height: 80px;
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }
  .toggle-btn {
    display: none;
  }
  ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 60px;
    cursor: pointer;
    &:not(collapsed) .arrow:before {
      font-family: FontAwesome;
      content: "\f078";
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
      float: right;
    }
    .active {
      border-left: 3px solid $scarlett;
      background-color: #181c20;
    }
    .sub-menu {
      li.active {
        color: $red;
        a {
          color: $red;
        }
      }
      li {
        background-color: #181c20;
        border: none;
        line-height: 45px;
        border-bottom: 1px solid #23282e;
        margin-left: 0px;
        &:hover {
          background-color: #020203;
        }
        &:before {
          font-family: FontAwesome;
          content: "\f105";
          display: inline-block;
          padding-left: 10px;
          padding-right: 10px;
          vertical-align: middle;
        }
      }
    }
  }
  li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
    a {
      text-decoration: none;
      color: $white;
      display: block;
      i {
        padding-left: 10px;
        padding-right: 20px;
      }
    }
    &:hover {
      border-left: 3px solid $scarlett;
      background-color: #020203;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
    }
  }
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    .toggle-btn {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10 !important;
      padding: 3px;
      background-color: $white;
      color: $black;
      width: 40px;
      text-align: center;
    }
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 62px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}