@import "../global";
@import "../section/sidebar";
.card {
  margin-bottom: 20px;
  .card-body {
    padding-top: 10px;
    background-color: $white;
    @include box-shadow(0, 3px, 6px, $gray);
    .img-container {
      width: 100%;
      padding-top: 56.25%;
      position: relative;
      img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .card-title {
      color: $black;
    }
    .card-info {
      @include clearfix;
      p {
        font-size: 22px;
      }
    }
    .card-btn {
      a {
        color: $white;
        background-color: $scarlett;
        display: inline-block;
        padding: 10px 0;
        text-align: center;
        font-size: 1.4em;
        &:hover {
          background-color: $rosewood;
        }
        &:first-of-type {
          background-color: $black;
          &:hover {
            background-color: $black3;
          }
        }

      }
    }
  }
}