@import "colors";
$white70: rgba(255,255,255,0.7);
//Text font color
$textFontColor1: $scarlett;
$textFontColor2: $black;
//link font color
$linkFontColor1: $black;
$linkFontColor2: $white;
//Link hover font color
$linkHoverFontColor1: $white;
//Link background color
$linkBgColor1: transparent;
$linkBgColor2: $scarlett;
//Link hover background color
$linkHoverBgColor1: $scarlett;
//Button background color
$buttonBgColor1: $scarlett;
//Button border color
$buttonBorderColor1: $scarlett;